---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import hero from '../assets/hero.png';
import Header from "../components/Header.astro";

---

<Layout>
	<div class="">
		<Image alt="" src={hero} class="w-full mask-b-from-80%" />
    </div>

	<main class="px-3 pt-10">
		<Header>After the disaster!</Header>
    </main>
</Layout>
